<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            DataLivros
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="margin:30px;padding:10px">
        <br>
        <div class="jumbotron">
        <h1 align="center" class="display-4">Banco de Livros</h1>

        <p align="center" class="lead">Sistema de gerenciamento de dados de livros</p>
        <p align="center">Construido com Python, Flask, Bootstrap e Sqlite.</p>
        <p align="center">
        <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
        </p>
        <hr class="my-4">
        <meta charset="utf-8">
        <br>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </div>
        
        <font size="+2"><p align="center" class="fw-bold">Sobre o projeto</p><br></font>
        <font size="+1">
        <p align="center" class="lh-base">O Banco de Livros registra livos lidos, armazenando seus dados e permitindo que os mesmos sejam visualizados ou atualizados.
        <br>O funcionamento do sistema é regido por código Python, baseado no framework Flask para aplicações web.
        <br>Por meio do Python, o usuário interage com o banco de dados SQLITE diretamente do navegador, em
        <br>páginas web construidas com html e Bootstrap. A aplicação Python também permite manipular
        <br>os dados em objetos DataFrame (Pandas) para análises estatísticas e visualizações de dados.        
        </p></font>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
